.header-box {
    width: 100%;
    height: var(--layout-2);
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--spacing-3) var(--spacing-4);

    display: flex;
    justify-content: space-between;
    gap: var(--spacing-4);
}

.logo-box {
    height: 100%;
    display: flex;
    align-items: center;
    gap: var(--spacing-1)
}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}

.logo-box .logo{
    width: 25px;
    height: 25px;
    border-radius: 25px;

    animation: rotate_image 5s linear infinite;
    transform-origin: 50% 50%;
}
.search-input {
    flex: 1;
    height: 40px;
    border: 1px solid var(--gray-40);
    border-right: none;
    border-radius: 40px 0 0 40px;
    padding: 0 var(--spacing-4);
    background-color: var(--gray-0);
}


.search-box {
    flex: 1;
    display: flex;
    align-items: center;

    max-width: 600px;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 64px;
    height: 40px;
    background-color: var(--gray-0);

    border: 1px solid var(--gray-40);
    border-left: none;
    border-radius: 0 40px 40px 0;
}

.search-button:hover {
    background-color: var(--gray-10);
}

.link .profile-img {
    width: 40px;
    height: 40px;

    border-radius: 50%;

    background-position: 50% 50%;
    background-size: cover;
}

.link  .profile-img:hover {
    border: 2px solid var(--primary-color);
    opacity: 0.8;
}

.login-msg-box {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-msg-box {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

