.navbar-box nav {
    width: 100%;
    padding: 0 var(--spacing-4);
    border-bottom: 1px solid var(--gray-40);
}
.navbar-box nav ul{
    width: 100%;
    height: 100%;

    display: flex;

    list-style: none;
}

.navbar-box nav ul li {
    padding: var(--spacing-5);
    font-weight: bold;
}

.navbar-box nav ul li:hover {
    box-shadow: inset 0 -3px var(--primary-color);
}

.navbar-box nav ul .active {
    box-shadow: inset 0 -3px var(--primary-color);
}

.navbar-box nav ul a {
    text-decoration: none;
}

.component {
    padding: var(--spacing-7) var(--spacing-4);
}