:root {
    /*  Color  */
    --gray-0: #FFFFFF;
    --gray-5: #F8F8F8;
    --gray-10: #F0F0F0;
    --gray-40: #C6C6C6;
    --gray-60: #717171;
    --gray-90: #1D1D1D;
    --gray-100: #000000;
    --danger-surface: #FEECF0;
    --danger-border: #FCD4DE;
    --danger-base: #EB003B;
    --danger-text: #D50136;
    --success-surface: #EEF7F0;
    --success-border: #CEE9D4;
    --success-base: #008A1E;
    --success-text: #006E18;
    --primary-color: #0065ff;
    --secondary-color: #003675;

    /*  Size  */
    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-5: 20px;
    --spacing-6: 24px;
    --spacing-7: 32px;
    --spacing-8: 40px;
    --spacing-9: 48px;

    --layout-1: 80px;
    --layout-2: 64px;

    --max-width: 1280px;

    /*  Font  */
    --font-detail: 14px;
    --font-body: 16px;
    --font-title: 20px;
    --font-heading: 26px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    font-size: var(--font-body);
    font-weight: normal;
    color: var(--gray-90);
}

body {
    min-width: 657px;
}

input, textarea, select, button {
    all: unset;
    box-sizing: border-box;
}

input::placeholder {
    font-weight: 300;
    color: var(--gray-60);
}

input:focus {
    border: 1px solid var(--primary-color);
}

.logo-heading {
    font-weight: 900;
    font-size: calc(var(--font-heading) * 0.9);
    color: var(--gray-90);
}

.heading {
    font-weight: bold;
    font-size: var(--font-heading);
    color: var(--gray-90);
}

.title {
    font-weight: bold;
    font-size: var(--font-title);
    color: var(--gray-90);
}

.description {
    color: var(--gray-60);
}

.logo {
    background-image: url("./assets/logo.png");
    background-size: cover;
}

.container {
    max-width: var(--max-width);
    margin: var(--layout-2) auto;
}
